body {
  max-width: 12000
ypx;
  margin: auto;
}

/* main con aside*/
.contenido {
  display: flex;
}

/*los footers */
.footer-container {
  display: flex;
  min-height: 80px; 
  max-height: 80px;

}

header {
  min-height: 120px;
  background: blueviolet;

  display: flex;
  align-items: center;
   
}

main {
  flex: 3; /* 3/4 */
  background: aqua;
}

aside {
  flex: 1;          /* 1/4 */
  min-width: 200px;
  min-height: 400px;
  background: #ddd;
}

.footer1 {
  flex: 1;
  background: blueviolet;
}

.footer2 {
  flex: 1;
  background: pink;
}

.logazo{
    height: 60px;
    width: 60px;
    border-radius: 50%; /*ahi se ve circular yo lo hcie circular*/
}

h1{
    font-size: 2.5em;
  
}

.footer1 h3{
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.footer2 p{
    max-width: 50%;
    text-align: right;
}