body {
  max-width: 1200px;
  margin: auto;
}

/* main con aside*/
.contenido {
  display: flex;
}

/*los footers */
.footer-container {
  display: flex;
  height: 80px; 

}

header {
  min-height: 120px;
  background: blueviolet;

  display: flex;
  align-items: center;
   
}

main {
  flex: 3; /* 3/4 */
  background: aqua;
}

aside {
  flex: 1;          /* 1/4 */
  min-width: 200px;
  min-height: 400px;
  background: #ddd;
}

.footer1 {
  flex: 1;
  background: blueviolet;
}

.footer2 {
  flex: 1;
  background: pink;
}

.logazo{
    height: 80px;
    width: 80px;
}

h1{
    size: 2.5em;
  
}
